<mat-toolbar class="toolbar-container">

    <div class="btn-container">
        <button mat-button color="primary" style="margin-left: 10px; outline-style: none;">Past Issues</button>
    </div>
    <div class="btn-container">
        <button mat-button color="primary" style="outline-style: none;">Report</button>
    </div>

    <span class="example-spacer"></span>
    <div class="btn-container">
        <button mat-raised-button color="accent" style="outline-style: none; margin-right: 40px;" (click)="rightSideNav.toggle();">New Issue</button>
    </div>
</mat-toolbar>
