.btn-container {
    margin-left: 2px;
    margin-right: 2px
}

.mat-button:focus {
    outline-style: none;
}

::ng-deep .mat-icon {
    height: 48px !important;
    width: 48px !important;
    font-size: 48px !important;
    top: 50%;
}

::ng-deep .mat-icon-button {
    height: 60px !important;
    width: 60px !important;
}

.toolbar-container {
    background-color: #38393d;
    height: 62px;
    border-bottom: 1px solid #dee2e6;
    color: white;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
    color: #f1f1f2;
}

.example-spacer {
    flex: 1 1 auto;
}

#welcome-user {
    font-size: 15px;
    margin-right: 20px;
    display: inline;
}