<div class="sign-in-page">
    <mat-card id="sign-in-card" color="primary" mat-elevation-z8>
        <div id="overlay" *ngIf="issueService.isLoadingSignin();">
            <mat-progress-spinner id="loading" mode=indeterminate color=accent strokeWidth=5></mat-progress-spinner>
        </div>
        <span id="title" class="center">Welcome</span>
        <span class="center" style="margin-bottom: 48px;">
            <mat-icon id="logo">bug_report</mat-icon>
        </span>
        <!-- <span class="center">
            <img src="../../../assets/icon.svg">
        </span> -->
        <mat-card-content>
            <form id="form-container" [formGroup]="getSigninForm()" (ngSubmit)="submit()">
                <mat-form-field style="margin-bottom: 48px;" class="full" color="accent" appearence=fill>
                    <input matInput placeholder="Username" formControlName="username" disabled=false>
                </mat-form-field>
                <mat-form-field style="margin-bottom: 48px;" class="full" color="accent" appearence=fill>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                </mat-form-field>
                <button mat-raised-button class="full submit" color="accent">SIGN IN</button>
            </form>
            <mat-card-footer><span style="width: 100%; display:block; text-align: center">Don't have an account? <a
                        id="sign-up">Sign up!</a></span></mat-card-footer>
        </mat-card-content>
    </mat-card>
</div>