<mat-nav-list class="nav">
    <div class="break-md"></div>
    <div matRipple>
        <a routerLinkActive="active" routerLink="dashboard" class="sidenav-link">
            <mat-icon class="menu-icon" routerLinkActive="active">dashboard</mat-icon>
            <div class="menu-title">Dashboard</div>
        </a>
    </div>
    <!-- </mat-list-item> -->
    <div class="break-sm"></div>
    <!-- <mat-list-item> -->
    <div matRipple>
        <a routerLinkActive="active" class="sidenav-link" routerLink="issues">
            <mat-icon class="menu-icon" routerLinkActive="active">bug_report</mat-icon>
            <div class="menu-title">Issues</div>
        </a>
    </div>
    <!-- </mat-list-item> -->
</mat-nav-list>