/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./assets/fonts/Poppins/Poppins-Bold.woff') format('woff');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f7f7;
}